<div class="modal fade" id="byDeckUrlModal" tabindex="-1" aria-labelledby="byDeckUrlModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div id="byDeckUrlModalContent" class="modal-content rounded-4 shadow">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="byDeckUrlModalLabel">Generating PDF</h5>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center py-4">
        <div class="spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;"></div>
        <span class="ms-3 fs-5">Waiting to start...</span>
      </div>
    </div>
  </div>
</div>