<div class="p-3">
  <b>General Disclaimer</b>
  <p>I do not own any of the images obtained from this site - they are all obtained from ArkhamDB and are the intellectual property of Fantasy Flight Games. Proxies cards are never to be sold, nor to be used in a way to defraud someone into thinking they are real. Please support the company and buy their product when possible.</p>
  <i><b>Why do the cards have white in the corners? Could it have a black background between the cards?</i></b>
  <p>Most of the images from ArkhamDB actually have white corners already in the images - they were scanned in that way. I could probably do some image processing to make those white corners transparent and then I could make a black background between all the cards. But as above - that is a future improvement. Also note that same card images have rounded corners and some don't - this is out of my control.</p>
  <i><b>How can I report a problem?</i></b>
  <p>Please create an issue on the <a href="https://github.com/fahseltc/arkhamprint.xyz">github page</a></p>
  <i><b>Why did you make this project?</i></b>
  <p>I love <a href="https://mtgprint.net/">mtgprint.net</a> and wanted something similar to it for Arkham Horror. This was inspired by https://gitlab.com/ahiskali/arkham-proxy which is now a dead project.</p>
  <p> I am also currently unemployed and working on small projects to practice my skills.</p>
  <br>
  <a href='https://ko-fi.com/V7V4BDH7' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi3.png?v=6' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
</div>